<!doctype html>

<html lang="en">


<head>
    <meta charset="utf-8">
    <title>Page</title>
    <meta name="description" content="The HTML5 Herald">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/sample/css/styles.css?v=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
<div class="wrapper">
    <div class="left-block">
        <div class="burger"></div>
        <div class="center-block">
            <a href="">
                <div class="icon person-nav"></div>
            </a>
            <a href="">
                <div class="icon sound-nav"></div>
            </a>
            <a href="">
                <div class="icon notes-nav"></div>
            </a>
            <a href="">
                <div class="icon line-nav"></div>
            </a>
            <a href="">
                <div class="icon suitcase-nav"></div>
            </a>
            <a href="">
                <div class="icon user-nav"></div>
            </a>
            <a href="">
                <div class="icon letter-nav"></div>
            </a>
            <a href="">
                <div class="icon money-nav"></div>
            </a>
        </div>
        <div class="bottom-block">
            <a href="">
                <div class="icon arr-nav"></div>
            </a>
            <a href="">
                <div class="icon track-nav"></div>
            </a>
            <a href="">
                <div class="icon page-nav"></div>
            </a>
            <a href="">
                <div class="pointer-nav"></div>
            </a>
        </div>
    </div>
    <div class="main">
        <div class="main-block">
            <div class="main-block__upper">
                <h1>Подобрать блюдо на ужин</h1>
                <div class="nav">
                    <a href="#">Книга рецептов</a>
                </div>
                <div class="info-block">
                    <div class="flex-container">
                        <form class="row g-3" style="margin-bottom: 20px">
                            <div class="col-auto">
                                <label for="inputIngredients" class="visually-hidden">Ингредиенты</label>
                                <input type="text" class="form-control" id="inputIngredients"
                                       placeholder="Введите ингредиенты:">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">Подобрать рецепт</button>
                            </div>
                        </form>
                        <div class="block-recipes">
                            <div class="recipe">
                                <div class="recipe__image">
                                    <img src="../static/sample/img/image-recipe.jpg" alt="Image recipe">
                                </div>
                                <div class="recipe__name">
                                    Лазанья классическая с мясом
                                </div>
                            </div>
                            <div class="recipe">
                                <div class="recipe__image">
                                    <img src="../static/sample/img/image-recipe.jpg" alt="Image recipe">
                                </div>
                                <div class="recipe__name">
                                    Лазанья классическая с мясом
                                </div>
                            </div>
                            <div class="recipe">
                                <div class="recipe__image">
                                    <img src="../static/sample/img/image-recipe.jpg" alt="Image recipe">
                                </div>
                                <div class="recipe__name">
                                    Лазанья классическая с мясом
                                </div>
                            </div>
                            <div class="recipe">
                                <div class="recipe__image">
                                    <img src="../static/sample/img/image-recipe.jpg" alt="Image recipe">
                                </div>
                                <div class="recipe__name">
                                    Лазанья классическая с мясом
                                </div>
                            </div>
                            <div class="recipe">
                                <div class="recipe__image">
                                    <img src="../static/sample/img/image-recipe.jpg" alt="Image recipe">
                                </div>
                                <div class="recipe__name">
                                    Лазанья классическая с мясом
                                </div>
                            </div>
                            <div class="recipe">
                                <div class="recipe__image">
                                    <img src="../static/sample/img/image-recipe.jpg" alt="Image recipe">
                                </div>
                                <div class="recipe__name">
                                    Лазанья классическая с мясом
                                </div>
                            </div>
                        </div>
                        <div class="details">
                            <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                                <div class="recipe__name">
                                    Лазанья классическая с мясом
                                </div>
                                <div class="recipe__image">
                                    <img src="../static/sample/img/image-recipe.jpg" alt="Image recipe">
                                </div>
                                <div class="details__ingredients">
                                    <span class="ingredient_quantity"><span
                                            class="ingredient">Мясной фарш</span><span
                                            class="quantity">600 г.</span></span>
                                    <span class="ingredient_quantity"><span
                                            class="ingredient">Соус болоньезе</span><span class="quantity">600 г.</span></span>
                                    <span class="ingredient_quantity"><span
                                            class="ingredient">Сливочное масло</span><span class="quantity">60 г.</span></span>
                                    <span class="ingredient_quantity"><span
                                            class="ingredient">Пшеничная мука</span><span
                                            class="quantity">2,5 ст.л.</span></span>
                                    <span class="ingredient_quantity"><span
                                            class="ingredient">Оливковое масло</span><span
                                            class="quantity">2 ст.л.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Молоко</span><span
                                            class="quantity">750 мл</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Готовые сухие листы лазаньи</span><span
                                            class="quantity">10 шт.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Твердый сыр</span><span
                                            class="quantity">500 г.</span></span>
                                </div>
                                <div class="description">
                                    Лазанья - популярное итальянское блюдо. Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Architecto atque deserunt dolores quia vel vero. Accusamus asperiores, dolor
                                    ea eaque eligendi error, maxime natus odio perferendis quas ratione, reprehenderit
                                    sint.
                                </div>
                                <button type="button" class="btn-close"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">

                </div>


            </div>
        </div>
    </div>


    <script language="javascript">

    </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="../static/sample/js/script.js"></script>
</div>
</body>
</html>
